body {
	font-family: Lato, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 15px;
}

h1 {
	color: #0e83cd;
	font-size: 24px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#menu li {
	padding-bottom: 10px;
}

#history {
	font-weight: bold;
}
.yours {
	background: #eee;
	margin-bottom: 5px;
	padding: 10px;
	padding-left: 25px;
	padding-right: 30px;
	border-radius: 20px;
	display: inline-block;
}
.yours > .sender {
	color: #aaa;
}
.mine {
	background: #0085D1;
	margin-bottom: 5px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 25px;
	border-radius: 20px;
	display: inline-block;
}
.mine > .sender {
	color: #bbb;
	text-align: right;
}
.mine > .content {
	color: #fff;
	text-align: right;	
}